---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'CASHo.xyz | Trusted Blockchains Validator',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=6a1d75f325e4255ba09ba2f7&product=sop' async='async'></script>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
     
    ]}
  
  >
     <Fragment slot="title">

      <script src="https://unpkg.com/@lottiefiles/dotlottie-wc@0.7.1/dist/dotlottie-wc.js" type="module"></script>
<dotlottie-wc src="https://lottie.host/8f406cee-b6c1-4247-a1d0-81984b9bd8cc/cBvZfZXi8w.lottie" speed="1" style="width: 100%; height: 100px" mode="forward" loop autoplay></dotlottie-wc>

      Lending <span class="hidden xl:inline"></span>
      <span class="text-accent dark:text-white"> Crypto</span> 
    </Fragment>
     <Fragment slot="subtitle">
     <span class="hidden sm:inline"></span>
      <span class="text-accent dark:text-white"> Crypto lending allows you to earn interest on your cryptocurrency or borrow cash/crypto by using your digital assets as collateral.</span> 
   
      </Fragment>

    <Fragment slot="subtitle">
       <CallToAction
    actions={[
      {
        text: 'primary',
        text: 'Lend.POL',
        href: '/home/lendPOL',
        target: '',
        icon: 'tabler:moneybag-heart',
      },
      {
        text: 'primary',
        text: 'Lend.AVAX',
        href: '/home/lendAVAX',
        target: '',
        icon: 'tabler:moneybag-heart',
      },
      {
        text: 'primary',
        text: 'Lend.CRO',
        href: '/home/lendCRO',
        target: '',
        icon: 'tabler:moneybag-heart',
      },
      {
        text: 'primary',
        text: 'Next.Lend',
        href: '/home/lend.1',
        target: '',
        icon: 'tabler:external-link',
      },
    ]}
  >
    <Fragment slot="title">
      <script defer src="https://www.livecoinwatch.com/static/lcw-widget.js"></script> <div class="livecoinwatch-widget-5" lcw-base="USD" lcw-color-tx="#0693e3" lcw-marquee-1="coins" lcw-marquee-2="movers" lcw-marquee-items="30" ></div>
<script src="https://unpkg.com/@lottiefiles/dotlottie-wc@0.7.1/dist/dotlottie-wc.js" type="module"></script>
<dotlottie-wc src="https://lottie.host/0ff0b07a-0a93-44aa-9c4f-c534b29c82fe/MHtxEEECle.lottie" speed="1" style="width: 100%; height: 400px" mode="forward" loop autoplay></dotlottie-wc>
    </Fragment>

    <Fragment slot="subtitle">
      Crypto lending platforms connect lenders who want to passive income with borrowers who need liquidity without selling their coins Top crypto lending platforms for investors in 2026. Recent 2026 updates have even integrated this space into traditional finance, with Fannie Mae now accepting crypto-backed mortgages for home buyers Fannie Mae accepts crypto-backed mortgages for the first time. 
    </Fragment>
  </CallToAction>
  
      <span class="hidden sm:inline">
        <span class="font-semibold"></span> 
        </span
      >
      <span class="block mb-1 sm:hidden font-bold text-blue-600"></span>
      Lenders deposit crypto: Investors place funds into lending pools.
Lenders earn interest: Platforms pay out regular APY rewards.
Borrowers pledge collateral: Users lock up crypto to back loans.
Borrowers receive funds: They get cash, stablecoins, or other crypto.
Platforms automate terms: Smart contracts or centralized platforms handle payouts.
    </Fragment>
  </Hero>
<script>
  (function(){var w=window;if(w.ChannelIO){return w.console.error("ChannelIO script included twice.");}var ch=function(){ch.c(arguments);};ch.q=[];ch.c=function(args){ch.q.push(args);};w.ChannelIO=ch;function l(){if(w.ChannelIOInitialized){return;}w.ChannelIOInitialized=true;var s=document.createElement("script");s.type="text/javascript";s.async=true;s.src="https://cdn.channel.io/plugin/ch-plugin-web.js";var x=document.getElementsByTagName("script")[0];if(x.parentNode){x.parentNode.insertBefore(s,x);}}if(document.readyState==="complete"){l();}else{w.addEventListener("DOMContentLoaded",l);w.addEventListener("load",l);}})();

  ChannelIO('boot', {
    "pluginKey": "fe3b58c7-6561-4bfe-8e90-9ac7ad4e46ed"
  });
</script>
</Layout>
