---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'ReySub.xyz | Secure Staking & Interchain Services',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=6a4a77a10b298c1c80028690&product=sop' async='async'></script>

  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Stake NOW',
        href: '#',
        target: '',
        icon: 'tabler:steam',
      },
      {
        text: '',
        text: 'Liquidity',
        href: '#',
        target: '',
        icon: 'tabler:droplet-half',
      },
    ]}
    image={{ src: '~/assets/images/hero-image.png', alt: 'AstroWind Hero Image' }}
  >
    <Fragment slot="title">
      <script defer src="https://www.livecoinwatch.com/static/lcw-widget.js"></script> <div class="livecoinwatch-widget-5" lcw-base="USD" lcw-color-tx="#0693e3" lcw-marquee-1="coins" lcw-marquee-2="movers" lcw-marquee-items="30" ></div>
      Infra <span class="hidden xl:inline">&</span>
      <span class="text-accent dark:text-white">Insights </span> 
Moving Networks 
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">Build, manage,</span> Build, manage, and distribute composable onchain strategies with native compliance and institutional-grade distribution. Powered by the open yield layer, Railnet.</span
      >
      <span class="block mb-1 sm:hidden font-bold text-blue-600">Hundreds of institutions deploy.</span>
     , manage, and optimize capital across staking, DeFi, and RWAs seamlessly and securely through reysub infrastructure.
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note title="Philosophy:" description="Simplicity, Best Practices and High Performance" />

  

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Get template',
        href: 'https://github.com/arthelokyo/astrowind',
        target: '_blank',
        icon: 'tabler:download',
      },
    ]}
  >
    <Fragment slot="title">
      Astro&nbsp;+&nbsp;<br class="block sm:hidden" /><span class="sm:whitespace-nowrap">Tailwind CSS</span>
    </Fragment>

    <Fragment slot="subtitle">
      Be very surprised by these huge fake numbers you are seeing on this page. <br class="hidden md:inline" />Don't
      waste more time! :P
    </Fragment>
  </CallToAction>
</Layout>
